include NOTICE
include LICENSE
include CMakeLists.txt
recursive-include mmu */CMakeLists.txt
recursive-include mmu *.hpp
recursive-include mmu *.cpp
recursive-include cmake *.cmake

global-include README.md
global-include CMakeLists.txt

exclude docs tests .readthedocs.yml
recursive-exclude tests *.py
recursive-exclude docs *
