include NOTICE
include LICENSE
include CMakeLists.txt
include cpp/CMakeLists.txt
recursive-include cpp *.hpp
recursive-include cpp *.cpp
recursive-include mmu *.stan
recursive-include cmake *.cmake

global-include README.md
global-include CMakeLists.txt

exclude docs tests .readthedocs.yml
recursive-exclude tests *.py
recursive-exclude docs *
